// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.active .fa, .active .fas, .active .far {
    color: #0c1628 !important;
}

.ty-ajax-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
    background-color: rgba(12, 12, 12, 0.3);
}

.ty-ajax-loading-box {
    position: fixed;
    top: 50%;
    right: 50%;
    left: 50%;
    z-index: 10001;
    display: none;
    overflow: visible;
    margin-top: -26px;
    margin-left: -26px;
    padding: 0;
    min-height: 52px;
    width: 52px;
    border-radius: 10px;
    background: rgba(99, 99, 99, 0.7) url("/assets/img/theme/spinner.gif") no-repeat 10px 10px;
}

.card-text {
    display: inline-block;
    margin-left: 1rem;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #161c2d;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container-repeatable-elements .delete-element {
    z-index: 2;
    position: absolute !important;
    margin-left: -24px;
    margin-top: 0px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    text-align: center;
    background-color: #e8ebf0 !important;
}

.repeatable-element {
    border: 1px solid rgba(0, 40, 100, .12);
    border-radius: 5px;
    background-color: #f0f3f94f;
}

.container-repeatable-elements .delete-element {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button.disabled:not(:disabled), button.disabled, button.disabled:disabled, button:disabled {
    cursor: wait;
}

.react-bootstrap-table-page-btns-ul {
    float: right;
    margin-top: 0 !important
}

.react-bootstrap-table-pagination-list-hidden {
    display: none
}

@include media-breakpoint-only(md) {
    .navbar-collapse {
        margin-right: 0.7rem !important;
        margin-left: 0.7rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media (max-width: 767.98px) {
    .navbar-collapse.collapsing, .navbar-collapse.show {
        background: rgba(68, 89, 107, 92%) !important;
    }
}

@include media-breakpoint-only(xs) {
    .navbar-collapse {
        margin-right: 0.7rem !important;
        margin-left: 0.7rem !important;
    }
}

@include media-breakpoint-only(sm) {
    .navbar-collapse {
        margin-right: 0.7rem !important;
        margin-left: 0.7rem !important;
    }
}

.navbar-collapse {
    padding-left: 1rem !important;
    margin-right: -1.5rem !important;
    padding-right: 1.5rem !important;
}

.tt-object {
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #fc7d81;
    //border-top-color: rgb(252, 125, 129);
    border-bottom: 5px solid transparent;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
    -moz-animation: animate 2s infinite;
    animation-delay: 0s;
    -ms-animation: animate 2s infinite;
    border-left: 5px solid #fc7d81;
    border-right: 5px solid transparent;
    border-top-color: #4f46e5;
    border-left-color: #4f46e5;
}

#loader-wrapper {
    background-color: #3a70728a;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    top: 0;
    opacity: .8 !important;
}

#loading-text {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 70px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #222222;
}

.tt-loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

.tt-loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

body * {
    -webkit-text-size-adjust: none;
}

.object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
    -moz-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
}

.object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
}

.object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
}

.object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}

@-moz-keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
        -moz-transform: rotate(360deg) scale(0.8);
    }
}

@keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        -moz-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}
