body {
    background-color: black;
}
.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-image: url(/svg/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #a1a1a1;
  }
  .product-device-2 .touch-id {
    position: absolute;
    top: 91%;
    right: auto;
    bottom: 5%;
    left: 40%;
    content: 'Touch ID';
    width: 2.5rem;
    height: 2.5rem;
    background-color: #999;
    border-radius: 50%;
  }
  .product-device-2::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-image: url(/svg/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    background-position: center;
  }
  
  
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
    .pull-down {
      display: none !important;
   }
  }
  @media (min-width: 360px) {
    .sm {
       display: none !important;
       text-align: center !important;
    }

    .disp {
       display: inline-block !important;
    }
 }

 @media (min-width: 768px) {
    
 }
  
  .overflow-hidden { overflow: hidden; }
